@model MySetList.Models.ChordChart

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ChordChart</legend>

        @Html.HiddenFor(model => model.ID)
                
        <div class="editor-label">
            @Html.LabelFor(model => model.SongTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SongTitle)
            @Html.ValidationMessageFor(model => model.SongTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArtistName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArtistName)
            @Html.ValidationMessageFor(model => model.ArtistName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SongText)
            @Html.ValidationMessageFor(model => model.SongText)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
